html, body {
    margin: 0;
    height: 100%;
}
.text {
    color: #fff ;
} 
.background {
    background-color: #000537;
}
.dark-blue {
    background-color: #091642;
}
.light-blue {
    background-color: #1C6FEC;
}
.gold {
    background-color: #F0C26C;
}
.gradient{
    background: #1C6FEC;
    background: radial-gradient(circle, rgba(28, 111, 236, 1) 0%, rgba(71, 69, 232, 1) 100%);
}
.checkbox {
    background-color: red !important;
}
.background-gradient {
    background: #091642;
    background: linear-gradient(53deg, rgba(9, 22, 66, 1) 1%, rgba(28, 111, 236, 1) 92%, rgba(9, 22, 66, 1) 100%);
}
#logo{
    width: 15vw;
    align-self: center;
    padding: 0;
}